/* Centraliza o título no topo */
.index-container h1 {
    text-align: center;
    margin-top: 20px;
}

.index-container h4 {
    text-align: center;
}

/* Centraliza os botões na tela */
.index-buttons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaçamento entre os botões */
    margin-top: 50px;
}

/* Ajusta os botões */
.index-buttons a {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold; /* Fontes em negrito */
    color: black; /* Cor da fonte */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo levemente transparente */
    border: 2px solid black; /* Borda preta para destacar */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: color 0.3s, background-color 0.3s; /* Transição suave */
}

/*Efeito ao passar o mouse */
.index-buttons a:hover {
    color: #444; /* Tom de cinza escuro para diferenciar do preto */
    background-color: rgba(255, 255, 255, 1); /* Fundo sólido ao passar o mouse */
}

body {
    background-image: url("/static/images/fundo1.webp"); /* Ajuste o caminho da imagem */
    background-size: cover;  /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* Mantém o fundo fixo ao rolar a página */
}